#<IfModule mod_rewrite.c>
#    Options -MultiViews
#    RewriteEngine On
#    RewriteBase /landlord/public
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^ index.php [L]
#</IfModule>

RewriteEngine On

# Direct requests to /api/... to the API index.php
RewriteRule ^api/(.*)$ api/index.php [L,QSA]

# All other requests go to the frontend PHP
RewriteRule ^$ public/index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L,QSA]
